*{margin: 0;padding: 0;}
html,body{
    width: 100%;height: 100%;
}
ul{list-style: none;}
.animate{    
    transition: all .3s ease;
}
div{display: inline-block;}
/* 导航栏 */
.nav{
    width: 100vw;height: 96px;
    line-height: 96px;
    background-color: #262727;
    position: relative;
    top: 0;left: 0;
}
.nav>.nav_head{position: relative;}
.nav>.nav_head>h1{
    color: #5eb78a;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}
.nav>.nav_head>span{
    display: inline-block;
    width: 40px;height: 40px;
    font-size: 0;
    background-image: url('../icon/down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
    position: absolute;
    top: 33px;left: 85vw;
}
.nav>.nav_head>span.up{
    background-image: url('../icon/up.png');
}
.nav>ul{
    background-color: #262727;
    position: absolute;
    top: -500px;left: 0;
    z-index: 999;
}
.nav>ul>li{
    width: 100vw;
    color: #fff;
    font-weight: bold;
    text-indent: 2em;
}
.nav>ul>li:hover{
    color: lightskyblue;
}
.nav>ul>li.active{
    color: #ec962a;
}
.nav>.nav_footer{
    display: none;
}
/* 内容 */
.content{
    width: 100vw;
}
.cont_head{
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    padding-left: 20px; 
}
.cont_head>p{
    font-size: 20px;
    color: #666;
}
.content>hr{
    width: 80vw;
    height: 2px;
    background-color: skyblue;
    border: none;
    margin-bottom: 20px;
    margin-left: 20px;
}
.cont_prj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont_prj>.prj{
    width: 70vw;height: auto;
    border-radius: .5vw;
    box-shadow: .8vw .4vw 1.6vw .2vw rgb(85, 83, 83);
    background-color: rgb(253, 251, 251);
    margin: 2vw .5vw;
    padding: 1vw 2vw;
    position: relative;
}
.cont_prj>.prj>.twoa{
    position: absolute;
    top: 10px;right: 10px;   
}
.cont_prj>.prj>.twoa>a{
    margin-right: 5px;
    color: skyblue;
    text-decoration: none;
    font-weight: bold;
}
.cont_prj>.prj>p{
    padding-bottom: 20px;
    color: #666;
}